<app-header [title]="'Edit profile'" [showGoBack]="true" />

<main
  style="
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    overflow-y: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
  "
>
  <section
    style="
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-bottom: 14px;
    "
  >
    <app-input-field
      [label]="'Name'"
      [type]="'username'"
      [value]="'Darron Banks'"
    />
    <app-input-field
      [label]="'Name'"
      [type]="'email'"
      [value]="'darronbanks@mail.com'"
    />
    <app-input-field
      [label]="'Name'"
      [type]="'phone'"
      [value]="'+17123456789'"
    />
    <app-input-field
      [label]="'Name'"
      [type]="'location'"
      [value]="'Chicago, USA'"
    />
  </section>
  <app-button [text]="'save changes'" [routerLink]="'/info-saved'" />
</main>
