<app-header [title]="'Edit profile'" [showGoBack]="true" />

<main>
  <section>
    <app-input-field
      [label]="'Name'"
      [type]="'username'"
      [value]="'Darron Banks'"
    />
    <app-input-field
      [label]="'Name'"
      [type]="'email'"
      [value]="'darronbanks@mail.com'"
    />
    <app-input-field
      [label]="'Name'"
      [type]="'phone'"
      [value]="'+17123456789'"
    />
    <app-input-field
      [label]="'Name'"
      [type]="'location'"
      [value]="'Chicago, USA'"
    />
  </section>
  <app-button [text]="'save changes'" [routerLink]="'/info-saved'" />
</main>
