.cardDetailsMain {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.cardDetailsCardSection {
  margin-bottom: 10px;
}

.cardDetailsCard {
  width: 100%;
  max-width: 338px;
  min-height: 213px;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 auto;
}

.cardDetailsCardType {
  font-size: 12px;
  color: var(--white-color);
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

.cardDetailsCardNumber {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.6;
}

.cardDetailsCardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardDetailsCardLabel {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  text-transform: uppercase;
}

.cardDetailsCardBalance {
  color: var(--white-color);
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.cardDetailsCardBalanceDecimal {
  font-size: 12px;
  color: var(--white-color);
  font-weight: bold;
}

.cardDetailsCardExpire {
  color: var(--white-color);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.cardDetailsLimitsSection {
  margin-bottom: 20px;
}

.cardDetailsSecurityLabel {
  margin-bottom: 4px;
  display: block;
}

.cardDetailsSecurityList {
  display: flex;
  flex-direction: column;
}

.cardDetailsSecurityButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 18px;
  padding-top: 18px;
  gap: 10px;
  border-bottom: 1px solid #ced6e1 !important;
  background: none;
  border: none;
  cursor: pointer;
}

.cardDetailsSecurityTitle {
  margin-right: auto;
  color: var(--black-color);
}

.cardDetailsSecurityTitle.danger {
  color: var(--link-color);
}
