.cardItemButton {
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;
  cursor: pointer;
}

.cardImage {
  background: linear-gradient(
    110.75deg,
    #c285ab 0%,
    #7aa1ce 49.34%,
    #1b1f6a 100.78%
  );
  width: 72px;
  height: 46px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cardImageText {
  color: var(--white-color);
  font-size: 12px;
  margin: 10px;
  margin-bottom: 8px;
  font-weight: 600;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
