.container {
  padding-top: calc(var(--header-height) + 30px);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  overflow-y: auto;
}

.otpGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 9px;
  margin-bottom: 30px;
}

.otpBtn {
  background-color: var(--white-color);
  width: 100%;
  border-radius: 10px;
  padding: 13px 20px;
  text-align: center;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resend {
  color: var(--link-color);
  cursor: pointer;
}
