.editPersonalInfoMain {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.editPersonalInfoPhotoButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  background: rgba(27, 29, 77, 0.5);
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.editPersonalInfoPhotoImg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.editPersonalInfoFieldsSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
}
