.exchangeRatesMain {
  padding-bottom: 20px;
}

.exchangeRatesHeaderGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #ced6e1;
  margin-bottom: 8px;
}

.exchangeRatesHeaderRight {
  text-align: end;
}

.exchangeRatesList {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.exchangeRatesListItem {
  width: 100%;
}

.exchangeRatesButton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 10px;
  padding-top: 8px;
  width: 100%;
  border-bottom: 1px solid #ced6e1 !important;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.exchangeRatesButton.selected {
  background-color: #e8f0fe;
}

.exchangeRatesCurrency {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.exchangeRatesCurrencyIcon {
  margin-top: 3px;
}

.exchangeRatesCurrencyImg {
  width: 21px;
  height: 14px;
}

.exchangeRatesCurrencyInfo {
  display: flex;
  flex-direction: column;
}

.exchangeRatesValueRight {
  text-align: end;
}
