.openDepositMain {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.openDepositSection {
  margin-bottom: 14px;
}
.openDepositSectionCard {
  margin-bottom: 30px;
}

.openDepositLabel {
  margin-bottom: 6px;
  display: block;
}

.openDepositCurrencyList {
  display: flex;
  align-items: center;
  gap: 14px;
}
.openDepositCurrencyBtn {
  padding: 8px 20px;
  border-radius: 10px;
}
.openDepositCurrencyBtnActive {
  background-color: var(--main-dark-color);
}
.openDepositCurrencyBtnInactive {
  background-color: var(--white-color);
}
.openDepositCurrencyTextActive {
  color: var(--white-color);
}
.openDepositCurrencyTextInactive {
  color: var(--main-dark-color);
}

.openDepositPeriodList {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.openDepositPeriodBtn {
  padding: 8px 20px;
  border-radius: 10px;
}
.openDepositPeriodBtnActive {
  background-color: var(--main-dark-color);
}
.openDepositPeriodBtnInactive {
  background-color: var(--white-color);
}
.openDepositPeriodTextActive {
  color: var(--white-color);
}
.openDepositPeriodTextInactive {
  color: var(--main-dark-color);
}

.openDepositAmountRow {
  display: flex;
  gap: 14px;
  align-items: center;
}
.openDepositAmountBtn {
  background-color: var(--white-color);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-self: flex-start;
}
.openDepositAmount {
  font-size: 28px;
  font-weight: 500;
}
.openDepositAmountFrac {
  font-size: 16px;
  font-weight: 500;
}

.openDepositCardsList {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.openDepositCardBtn {
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  border: 1px solid var(--white-color);
}
.openDepositCardBtnSelected {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.openDepositCardImg {
  background: linear-gradient(
    110.75deg,
    #c285ab 0%,
    #7aa1ce 49.34%,
    #1b1f6a 100.78%
  );
  width: 72px;
  height: 46px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.openDepositCardImgText {
  color: var(--white-color);
  font-size: 12px;
  margin: 10px;
  margin-bottom: 8px;
  font-weight: 600;
}
.openDepositCardDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.openDepositButtonSection {
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: var(--anti-flash-white);
}

.openDepositEarlyWithdrawal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ced6e1;
  padding-bottom: 18px;
}
