.paymentFailedBg {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  max-width: var(--screen-width);
  margin: 0 auto;
}

.paymentFailedMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  z-index: 2;
  margin-top: 20px;
}

.paymentFailedTitle {
  color: var(--link-color);
  margin-bottom: 20px;
}

.paymentFailedAmountBlock {
  margin-bottom: 20px;
}

.paymentFailedAmount {
  font-size: 28px;
  font-weight: bold;
  color: var(--main-dark-color);
}

.paymentFailedText {
  text-align: center;
}

.paymentFailedButtons {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  position: fixed;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  max-width: var(--screen-width);
  z-index: 2;
  bottom: 0;
}
