.privacyPolicyMain {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.privacyPolicyTitle {
  margin-bottom: 30px;
}

.privacyPolicySection {
  margin-bottom: 20px;
}

.privacyPolicySectionTitle {
  margin-bottom: 14px;
}
