.profileMenuItemButton {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}

.profileMenuItemTitle {
  margin-right: auto;
  color: var(--main-dark-color);
}

.profileMenuItemTitle.logout {
  color: var(--link-color);
}
