.depositsMain {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.depositsTitle {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

.sectionLabel {
  display: block;
  margin-bottom: 6px;
}

.depositsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.depositCard {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.depositTop {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.depositIcon {
  margin-right: 10px;
}

.depositInfo {
  flex: 1;
}

.depositInfoRow {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.depositAmount {
  font-size: 20px;
}

.depositCurrency {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 700;
}

.depositInterest {
  margin-bottom: 1px;
}

.depositPeriodRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.depositProfit {
  color: #3eb290;
}

.depositActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
  margin-top: 13px;
}

.depositActionBtn {
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.depositActionLabel {
  font-size: 12px;
  color: var(--white-color);
  font-weight: 600;
}

.moneyboxCard {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.moneyboxHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  margin-bottom: 7px;
}

.moneyboxTitle {
  margin-right: auto;
}

.moneyboxAmount {
  font-size: 14px;
  font-weight: 700;
}

.moneyboxProgressBg {
  height: 5px;
  background-color: #dbdbdf;
  border-radius: 10px;
  margin-bottom: 4px;
}

.moneyboxProgress {
  height: 100%;
  background-color: #3eb290;
  border-radius: 10px;
}

.moneyboxValue {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 12px;
}

.moneyboxValueFrac {
  font-size: 12px;
  color: #888;
  margin-left: 1px;
  text-align: center;
}

.moneyboxActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.moneyboxActionBtn {
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyboxActionLabel {
  font-size: 12px;
  color: var(--white-color);
  font-weight: 600;
}

.fixedButtons {
  position: fixed;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: var(--screen-width);
  background-color: var(--anti-flash-white);
}

.fixedButtonsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;
}

.addMoneyboxBtn {
  background-color: #f1f5fd;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ced6e1;
}

.addDepositBtn {
  background: linear-gradient(91.28deg, #97daff 0%, #16579d 100%);
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addMoneyboxLabel {
  color: var(--main-dark-color);
}

.addDepositLabel {
  color: var(--white-color);
}
