.container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.title {
  margin-bottom: 20px;
}

.menuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.menuBtn {
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 23px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuBtnTitle {
  margin-top: 12px;
}
