:root {
  --white-color: #fff;
  --text-color: #748ba0;
  --accent-color: #fcc55e;

  --main-color: #0c1d2e;
  --main-turquoise: #00b0b9;

  --header-height: 48px;
  --tab-bar-height: 70px;

  --border-radius: 10px;
  --screen-width: 650px;

  --dm-sans: 'DMSans', sans-serif;
}
