:root {
  --white-color: #fff;
  --text-color: #6b717d;
  --accent-color: #fcc55e;

  --main-color: #161e2f;
  --main-orange: #ff7557;
  --white-color: #ffffff;
  --main-turquoise: #00b0b9;

  --header-height: 48px;
  --tab-bar-height: 70px;

  --border-radius: 10px;
  --screen-width: 650px;

  --mulish: 'Mulish', sans-serif;
  --poppins: 'Poppins', sans-serif;
}
