<img alt="bg" src="./assets/bg/01.png" class="background-image" />

<main class="main-container">
  <section class="content-section">
    <img [alt]="'info saved'" [src]="svg.checkCircle" class="success-image" />
    <h2 class="success-title">Thank you for your order!</h2>
    <p class="success-description">
      Your order will be delivered on time. <br />
      Thank you!
    </p>
    <div class="button-grid">
      <app-button
        [text]="'Go Shopping'"
        [colorScheme]="'secondary'"
        [routerLink]="['/shop']"
      />
      <app-button [text]="'View orders'" [routerLink]="['/order-history']" />
    </div>
  </section>
</main>
