<img
  alt="bg"
  src="./assets/bg/01.png"
  style="position: absolute; width: 100%; height: auto; z-index: -1"
/>

<main
  style="
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
  "
>
  <section
    style="
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
    "
  >
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      [src]="svg.checkCircle"
      style="width: 180px"
    />
    <h2
      style="text-align: center; margin-bottom: 4%; text-transform: capitalize"
    >
      Thank you for your order!
    </h2>
    <p
      style="
        text-align: center;
        margin-bottom: 30px;
        color: #c3cde0;
        font-size: 16px;
        line-height: 1.7;
      "
    >
      Your order will be delivered on time. <br />
      Thank you!
    </p>
    <div
      style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 15px"
    >
      <app-button
        [text]="'Go Shopping'"
        [colorScheme]="'secondary'"
        [routerLink]="['/shop']"
      />
      <app-button [text]="'View orders'" [routerLink]="['/order-history']" />
    </div>
  </section>
</main>
