.bottomTabBarWrapper {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 0 auto;
}

.bottomTabBarFooter {
  background-color: var(--white-color);
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.tabButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.tabLabel {
  margin-top: 7px;
  text-align: center;
}

.safeArea {
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--white-color);
}
