.inputFieldContainer {
  background-color: var(--white-color);
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: '100%';
  min-height: 50px;
  padding-left: 20px;
  border: none;
  cursor: pointer;
}

.inputFieldText {
  font-size: 14px;
  line-height: 1.6;
  margin-right: auto;
  padding-right: 20px;
  color: var(--main-dark-color);
  background: none;
  border: none;
}

.inputFieldText.placeholder {
  color: #868698;
}

.inputFieldButton {
  height: 100%;
  width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
