<img src="./assets/bg/01.png" alt="Add to cart" class="background-image" />

<app-header
  [showGoBack]="true"
  [title]="'Leave a review'"
  [goBackColor]="'white'"
  [titleStyle]="{color: 'var(--white-color)'}"
/>

<main class="main-container">
  <img [alt]="'info saved'" [src]="svg.messageCircle" class="review-image" />
  <h2 class="review-title">
    Please rate the quality of <br />
    service for the order!
  </h2>
  <div class="rating-container">
    <app-rating-stars />
  </div>
  <p class="review-description t16">
    Your comments and suggestions help us improve the service quality better!
  </p>
  <div
    class="input-container"
    (click)="$event.stopPropagation(); $event.preventDefault(); openKeyboard()"
  >
    <span class="input-text">
      {{ value }}
    </span>
  </div>
  <app-button [text]="'submit'" [routerLink]="'/home'" />
</main>
