<app-header [showGoBack]="true" [title]="'Verification'" />

<main class="main-container">
  <section class="otp-section">
    <p class="otp-instruction t18">Enter your OTP code here.</p>

    <div class="otp-inputs">
      <input type="text" maxlength="1" class="otp-input" />
      <input type="text" maxlength="1" class="otp-input" />
      <input type="text" maxlength="1" class="otp-input" />
      <input type="text" maxlength="1" class="otp-input" />
      <input type="text" maxlength="1" class="otp-input" />
    </div>
    <app-button
      [text]="'Confirm'"
      [routerLink]="'/phone-number-has-been-verified'"
      [containerStyle]="{width: '100%'}"
    />
  </section>
</main>
