:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .main-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .otp-section {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .otp-instruction {
    text-align: center;
    margin-bottom: 32px;
  }

  .otp-inputs {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .otp-input {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
}
