<app-header
  [showGoBack]="true"
  [titleStyle]="{
    color: 'var(--white-color)',
  }"
  [title]="'Order history'"
  [goBackColor]="'white'"
/>

<img src="./assets/bg/01.png" alt="Add to cart" class="background-image" />

<main class="main-container">
  <section class="content-section">
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      [src]="svg.list"
      class="history-image"
    />
    <h2 class="history-title">
      Your order history is <br />
      currently empty!
    </h2>
    <p class="history-description t16">
      Start shopping now and fill your <br />
      order history with amazing products!<br />
    </p>
    <div class="button-container">
      <app-button [text]="'shop now'" [routerLink]="'/shop'" />
    </div>
  </section>
</main>
