<app-header [showGoBack]="true" [showBasket]="true" />

<main *ngIf="bike" class="main-container">
  <!-- CAROUSEL -->
  <section class="carousel-section">
    <owl-carousel-o
      [options]="customOptions"
      (translated)="onSlideChange($event)"
    >
      <ng-template
        carouselSlide
        *ngFor="let item of bike?.images; let i = index"
        class="item"
      >
        <img [src]="item" class="carousel-image" />
      </ng-template>
    </owl-carousel-o>
    <ul class="carousel-indicators">
      <li
        *ngFor="let item of bike?.images; let i = index"
        class="carousel-indicator-item"
        [ngStyle]="{
          backgroundColor:
            i === activeSlide ? 'rgb(22, 30, 47)' :  'rgba(22, 30, 47, 0.5)',
        }"
      ></li>
    </ul>
  </section>

  <!-- NAME WITH BUTTON -->
  <section class="name-with-button">
    <h3>{{ bike.name }}</h3>
    <button
      class="wishlist-button"
      (click)="
        $event.stopPropagation(); $event.preventDefault(); addToWishlist(bike)
      "
    >
      <img
        *ngIf="!ifInWishlist(bike)"
        [src]="svg.bicycleHeart"
        alt="heart"
        class="wishlist-icon"
      />
      <img
        *ngIf="ifInWishlist(bike)"
        [src]="svg.bikeAddedToWl"
        alt="heart"
        class="wishlist-icon"
      />
    </button>
  </section>

  <!-- RATING -->
  <section class="rating-section">
    <ul class="rating-list">
      <li *ngFor="let item of [1, 2, 3, 4, 5]" class="rating-item">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_3517_673)">
            <path
              d="M6 1L7.545 4.13L11 4.635L8.5 7.07L9.09 10.51L6 8.885L2.91 10.51L3.5 7.07L1 4.635L4.455 4.13L6 1Z"
              stroke-linecap="round"
              stroke-linejoin="round"
              [ngStyle]="{
                fill: bike.rating >= item ? '#E5C44E' : 'transparent',
                stroke: bike.rating >= item ? '#E5C44E' : '#E5C44E'
              }"
            />
          </g>
          <defs>
            <clipPath id="clip0_3517_673">
              <rect width="12" height="12" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </li>
      <span class="rating-text">(23)</span>
    </ul>
  </section>

  <!-- PRICE WITH COUNTER -->
  <section class="price-with-counter">
    <div class="price-container">
      <span class="price-text"> ${{ bike.price.replace('.', ',') }} </span>
      <div class="counter-container">
        <button
          class="counter-button"
          (click)="
            $event.stopPropagation();
            $event.preventDefault();
            removeFromCart(bike)
          "
        >
          <img [src]="svg.minusProduct" class="counter-icon" />
        </button>
        <span class="counter-text">
          {{ qty }}
        </span>
        <button
          class="counter-button"
          (click)="
            $event.stopPropagation(); $event.preventDefault(); addToCart(bike)
          "
        >
          <img [src]="svg.plusProduct" class="counter-icon" />
        </button>
      </div>
    </div>
  </section>

  <!-- COLOR -->
  <section class="color-section">
    <h5 class="color-title">Color</h5>
    <ul class="color-list">
      <li
        *ngFor="let color of bike.colors"
        class="color-item"
        (click)="
          $event.stopPropagation();
          $event.preventDefault();
          selectColor(color.code)
        "
        [ngStyle]="{
          backgroundColor: color.code,
        }"
      >
        <img
          *ngIf="selectedColor() === color.code"
          [src]="svg.colorSelect"
          class="color-icon"
        />
      </li>
    </ul>
  </section>

  <!-- DESCRIPTION -->
  <section class="description-section">
    <h5 class="description-title">Color</h5>
    <p class="description-text">
      {{ bike.description }}
    </p>
    <a [routerLink]="['/description', bike.id]">
      <img [src]="svg.readMore" />
    </a>
  </section>

  <!-- REVIEWS -->
  <section class="reviews-section">
    <div class="reviews-header">
      <h3>Reviews ({{ reviews.length }})</h3>
      <a [routerLink]="['/reviews']">
        <img [src]="svg.viewAll" />
      </a>
    </div>
    <ul class="reviews-list">
      <app-review-item *ngFor="let item of reviews" [review]="item" />
    </ul>
  </section>

  <!-- BUTTONS -->
  <section class="buttons-section">
    <app-button
      [text]="'+ Add to cart'"
      [containerStyle]="{
        marginBottom: '14px',
      }"
      (click)="
        $event.stopPropagation(); $event.preventDefault(); addToCart(bike)
      "
    />
    <app-button
      [text]="'Leave a Review'"
      [containerStyle]="{
        backgroundColor: 'var(--main-color)',
      }"
      [routerLink]="['/leave-a-review']"
    />
  </section>
</main>
