<div class="modal-backdrop" *ngIf="isOpen" (click)="closeModal()"></div>

<div class="modal" [@slideInOut]="isOpen ? 'in' : 'out'">
  <div class="modal-content">
    <h2 class="modal-title">Contact us</h2>
    <ul class="modal-list">
      <li class="modal-list-item">
        <img [src]="svg.burgerMapPin" alt="phone icon" />
        <div class="modal-list-item-content">
          <span>27 Division St, New York,</span>
          <span>NY 10002, USA</span>
        </div>
      </li>
      <li class="modal-list-item">
        <img [src]="svg.burgerMail" alt="phone icon" />
        <div class="modal-list-item-content">
          <span>{{ 'spinridesale@mail.com' }}</span>
          <span>{{ 'spinridesupport@mail.com' }}</span>
        </div>
      </li>
      <li class="modal-list-item">
        <img [src]="svg.burgerMapPin" alt="phone icon" />
        <div class="modal-list-item-content">
          <span>+17 123456789</span>
          <span>+17 987654321</span>
        </div>
      </li>
    </ul>
  </div>
</div>
