<img src="./assets/bg/01.png" alt="Add to cart" class="background-image" />

<app-header
  [burgerColor]="'white'"
  [title]="'Cart'"
  [showUser]="true"
  [showBasket]="true"
  [showBurger]="true"
  [showBorder]="true"
  [headerStyle]="{
    backgroundColor: 'transparent',
    paddingTop: '0px',
    paddingBottom: '0px',
    borderBottom: '1px solid rgba(255, 255, 255, 0.15)',
  }"
  [titleStyle]="{
    color: 'var(--white-color)',
  }"
/>

<main class="main-container">
  <section class="content-section">
    <img [alt]="'info saved'" [src]="svg.shoppingBag" class="cart-image" />
    <h2 class="cart-title">Your cart is empty!</h2>
    <p class="cart-description t16">
      Looks like you haven't made <br />
      your order yet.
    </p>
    <div class="button-container">
      <app-button [text]="'shop now'" [routerLink]="'/shop'" />
    </div>
  </section>
</main>

<app-bottom-tab-bar
  [style]="{backgroundColor: 'transparent', paddingTop: '0px'}"
  [footerStyle]="{border: '1px solid #555C6A'}"
/>
