:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .background-image {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .main-container {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
  }

  .content-section {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cart-image {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .cart-title {
    text-align: center;
    margin-bottom: 14px;
    text-transform: capitalize;
    color: var(--white-color);
  }

  .cart-description {
    text-align: center;
    color: #c3cde0;
    margin-bottom: 30px;
  }

  .button-container {
    max-width: 170px;
    margin: 0 auto;
    width: 100%;
  }
}
