<li
  *ngIf="promocode"
  class="promocode-item"
  (click)="
    $event.stopPropagation();
    $event.preventDefault();
    copyToClipboard(promocode.code || '')
  "
>
  <img [src]="promocode.image" alt="promocode" class="promocode-image" />
  <div class="promocode-details">
    <h5 class="promocode-code">{{ promocode.code }}</h5>
    <span
      class="promocode-discount"
      [ngStyle]="{
        color:
          promocode.discount >= 50
            ? '#FF4365'
            : promocode.discount >= 30
            ? '#FF7557'
            : '#51BA74'
      }"
      >{{ promocode.discount }}% off
    </span>
    <span class="t14 promocode-expiry">{{ promocode.expires_at }}</span>
  </div>
  <div class="promocode-copy">
    <img [src]="svg.copy" />
  </div>
</li>
