<app-header [showBasket]="true" [showUser]="true" [title]="'Favorite'" />

<main
  style="
    height: 100%;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
  "
>
  <section
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--white-color);
      border-radius: 10px;
      height: 100%;
    "
  >
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      style="width: 52%; margin-bottom: 7%"
      [src]="URLS.MAIN_URL + '/assets/images/01.jpg'"
    />
    <h2
      style="
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 14px;
      "
    >
      Your favorite list <br />
      is empty!
    </h2>
    <p class="t16" style="text-align: center; margin-bottom: 7%">
      Your list of favorite dishes is currently <br />
      empty. Why not start adding dishes <br />
      that you love?
    </p>
  </section>
</main>

<app-bottom-tab-bar />
