.limitItemButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ced6e1;
  padding-top: 8px;
  padding-bottom: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.limitItemContent {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
}
