h1 {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h5 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

.t10 {
  font-size: 10px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  color: var(--body-text-color);
  line-height: 1.5;
}

.t12 {
  font-size: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: var(--body-text-color);
  line-height: 1.6;
}

.t14 {
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}

.t16 {
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
}

.t18 {
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: var(--body-text-color);
  line-height: 1.5;
}
