:root {
  --white-color: #fff;

  --main-dark-color: #161e2f;
  --text-color: #6b717d;
  --main-orange-color: #ff7557;
  --body-text-color: #4c4c60;
  --anti-flash-white: #f3f3f3;

  --header-height: 48px;
  --bottom-tabbar-height: 64px;

  --border-radius: 8px;
  --screen-width: 600px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
