<div style="display: flex; gap: 2px; flex-direction: row; align-self: center">
  <app-star
    [fillColor]="rating >= 1 ? '#FFCA40' : '#fff'"
    [strokeColor]="rating >= 1 ? '#FFCA40' : '#FFCA40'"
  />
  <app-star
    [fillColor]="rating >= 2 ? '#FFCA40' : '#fff'"
    [strokeColor]="rating >= 2 ? '#FFCA40' : '#FFCA40'"
  />
  <app-star
    [fillColor]="rating >= 3 ? '#FFCA40' : '#fff'"
    [strokeColor]="rating >= 3 ? '#FFCA40' : '#FFCA40'"
  />
  <app-star
    [fillColor]="rating >= 4 ? '#FFCA40' : '#fff'"
    [strokeColor]="rating >= 4 ? '#FFCA40' : '#FFCA40'"
  />
  <app-star
    [fillColor]="rating >= 5 ? '#FFCA40' : '#fff'"
    [strokeColor]="rating >= 5 ? '#FFCA40' : '#FFCA40'"
  />
</div>
