<li
  *ngIf="dish"
  style="
    width: 100%;
    display: grid;
    grid-template-columns: 34% 1fr;
    gap: 10px;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
  "
>
  <img
    [src]="dish.image"
    alt="{{ dish.name }}"
    style="
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
      cursor: pointer;
    "
    [routerLink]="['/dish', dish.id]"
  />
  <img
    *ngIf="dish?.isNew"
    src="{{ svg.new }}"
    alt="Add to cart"
    style="position: absolute; left: 7px; top: 7px"
  />
  <img
    *ngIf="dish?.isHot"
    src="./assets/other/12.png"
    alt="Add to cart"
    style="position: absolute; width: 13px; height: 24px; left: 7px; top: 7px"
  />
  <div style="margin-right: 17px; display: flex; flex-direction: column">
    <span class="t14" style="margin-bottom: 4px; color: var(--main-color)">
      {{ dish.name }}
    </span>
    <p
      class="t10 number-of-lines-2"
      style="margin-bottom: 4px; max-width: 166px; width: 100%"
    >
      {{ dish.description }}
    </p>
    <span class="t10" style="margin-bottom: 6px"
      >{{ dish.kcal }} kcal - {{ dish.weight }}g</span
    >
    <span class="t14" style="color: var(--main-color)">${{ dish.price }}</span>
  </div>
  <button
    (click)="addToCart(dish, $event)"
    style="position: absolute; right: 0; bottom: 0; padding: 14px"
  >
    <img
      [src]="svg.counterPlus"
      alt="arrow"
      style="width: 21px; height: 21px"
    />
  </button>
  <button
    style="position: absolute; right: 0; top: 0; padding: 14px"
    (click)="addToWishlist(dish, $event)"
  >
    <img
      alt="arrow"
      [src]="svg.menuListHeart"
      style="width: 16px; height: 16px"
      *ngIf="ifInWishlist(dish) === false"
    />
    <img
      alt="arrow"
      [src]="svg.menuListHeartFill"
      style="width: 16px; height: 16px"
      *ngIf="ifInWishlist(dish) === true"
    />
  </button>
</li>
