<app-header
  [title]="'Order'"
  [showBasket]="true"
  [showBurger]="true"
  [showUser]="true"
  [showBorder]="true"
/>

<main class="main-container">
  <!-- bikes -->
  <section>
    <ul class="bike-list">
      <app-order-item *ngFor="let bike of list" [bike]="bike" />
    </ul>
  </section>

  <!-- Apply promocode -->
  <section class="apply-promocode" *ngIf="!promocodeApplied">
    <button class="apply-promocode-container" (click)="setValue()">
      <span>{{ value }}</span>
    </button>
    <button
      class="apply-promocode-button"
      (click)="setPromocodeApplied($event)"
    >
      <span class="apply-promocode-text">Apply</span>
    </button>
  </section>

  <!-- promocode applied -->
  <section class="promocode-applied" *ngIf="promocodeApplied">
    <button>
      <img src="{{ svg.promocodeApplied }}" alt="Promocode applied" />
    </button>
  </section>

  <!-- summary -->
  <section class="summary">
    <div class="summary-container">
      <!-- subtotal -->
      <div class="summary-row">
        <h5 class="subtotal-title">Subtotal</h5>
        <h5 class="subtotal-value">${{ subtotal.toFixed(3) }}</h5>
      </div>
      <!-- discount -->
      <div class="summary-row">
        <span class="discount-title t14">Discount</span>
        <span class="discount-value t14">${{ discount }}</span>
      </div>
      <!-- delivery -->
      <div class="summary-row delivery-row">
        <span class="delivery-title t14">Delivery</span>
        <span *ngIf="delivery === 0" class="delivery-free-text">Free</span>
        <span *ngIf="delivery !== 0">${{ delivery }}</span>
      </div>
      <!-- total -->
      <div class="summary-row total-row">
        <h4 class="total-title">Total</h4>
        <h4 class="total-value">${{ total.toFixed(3) }}</h4>
      </div>
    </div>
  </section>

  <!-- button -->
  <section>
    <app-button
      [text]="'Shipping & Payment info'"
      [routerLink]="'/shipping-and-payment-info'"
    />
  </section>
</main>

<app-bottom-tab-bar />
