<app-header [showGoBack]="true" />

<main class="main-container">
  <section class="section-container">
    <h1 class="sign-up-title">Sign up</h1>
    <app-input-field
      [type]="'username'"
      [value]="'Darron Banks'"
      [check]="true"
      [className]="'main__input'"
      [containerStyle]="{'margin-bottom': '14px'}"
    />
    <app-input-field
      [className]="'main__input'"
      [type]="'email'"
      [check]="true"
      [value]="'darronbanks@mail.com'"
      [containerStyle]="{'margin-bottom': '14px'}"
    />
    <app-input-field
      [className]="'main__input'"
      [type]="'password'"
      [eyeOff]="true"
      [value]="'••••••••'"
      [containerStyle]="{'margin-bottom': '14px'}"
    />
    <app-input-field
      [className]="'main__input'"
      [type]="'password'"
      [eyeOff]="true"
      [value]="'••••••••'"
      [containerStyle]="{'margin-bottom': '14px'}"
    />
    <app-button
      [className]="'main__button'"
      [text]="'Sign up'"
      [containerStyle]="{'margin-bottom': '20px'}"
      [routerLink]="'/sign-up-account-created'"
    >
      Sign Up
    </app-button>
    <div class="sign-up-footer">
      <span class="footer-text">Already have an account?</span>
      <a [routerLink]="'/'" class="footer-link"> Sign in. </a>
    </div>
  </section>
</main>
