<img src="./assets/bg/01.png" alt="Add to cart" class="background-image" />

<main class="main-container">
  <section class="content-section">
    <img
      [alt]="'phone number verified'"
      [src]="svg.atSign"
      class="verification-image"
    />
    <h2 class="verification-title">
      Your email has been <br />
      successfully verified!
    </h2>
    <p class="verification-description t16">
      You can now use the app <br />
      and enjoy all the features.
    </p>
    <div class="button-container">
      <app-button [text]="'done'" [routerLink]="'/profile'" />
    </div>
  </section>
</main>
