<section class="home-featured-section">
  <div class="home-featured-header">
    <h3>Featured products</h3>
    <a [routerLink]="['/shop']">
      <img [src]="svg.viewAll" alt="line" />
    </a>
  </div>
  <swiper-container slides-per-view="auto" space-between="14">
    <!-- item -->
    <swiper-slide class="swiper-slide" *ngFor="let bike of bikes">
      <div class="bike-card">
        <!-- image -->
        <a [routerLink]="['/bike', bike.id]" class="bike-image-container">
          <img [src]="bike.image" class="bike-image" />
          <div class="sale-badge" *ngIf="bike?.oldPrice">
            <span class="sale-text"> sale </span>
          </div>
          <button
            class="wishlist-button"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToWishlist(bike)
            "
            *ngIf="!ifInWishlist(bike)"
          >
            <img [src]="svg.adToWl" alt="right arrow" />
          </button>
          <button
            class="wishlist-button"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToWishlist(bike)
            "
            *ngIf="ifInWishlist(bike)"
          >
            <img [src]="svg.addedToWLHeart" alt="right arrow" />
          </button>
          <button
            class="cart-button"
            (click)="
              $event.stopPropagation(); $event.preventDefault(); addToCart(bike)
            "
          >
            <img [src]="svg.bag" alt="right arrow" />
          </button>
        </a>

        <!-- content -->
        <div class="bike-content">
          <!-- name -->
          <span class="bike-name">
            {{ bike.name }}
          </span>
          <!-- description -->
          <div class="bike-price-container">
            <span *ngIf="bike?.oldPrice" class="old-price">
              ${{ bike?.oldPrice }}
            </span>
            <span
              class="current-price"
              [ngStyle]="
                bike?.oldPrice
                  ? {color: 'var(--main-orange)'}
                  : {color: 'var(--main-color)'}
              "
            >
              ${{ bike.price }}
            </span>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
