<section style="margin-bottom: 30px">
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
    "
  >
    <h3>Featured products</h3>
    <a [routerLink]="['/menu']">
      <img [src]="svg.viewAll" alt="line" />
    </a>
  </div>
  <swiper-container slides-per-view="auto" space-between="14">
    <!-- item -->
    <swiper-slide
      class="swiper-slide"
      style="width: auto"
      *ngFor="let bicycle of bicycles"
    >
      <div style="overflow: hidden; max-width: 138px; width: 100%">
        <!-- image -->
        <a
          [routerLink]="['/bicycle', bicycle.id]"
          style="
            background-color: var(--white-color);
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 6px;
            display: flex;
            position: relative;
          "
        >
          <img
            [src]="bicycle.image"
            style="
              width: 100%;
              height: 170px;
              margin-bottom: 0px;
              border-radius: 12px;
              object-fit: contain;
            "
          />
          <div
            style="
              position: absolute;
              top: 10px;
              left: 10px;
              background-color: #66a97d;
              border-radius: 6px;
              height: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-left: 6px;
              padding-right: 6px;
            "
            *ngIf="bicycle?.oldPrice"
          >
            <span
              style="
                font-size: 8px;
                text-transform: uppercase;
                font-family: var(--mulish);
                font-weight: 700;
                color: var(--white-color);
                line-height: 1;
              "
            >
              sale
            </span>
          </div>
          <button
            style="padding: 10px; position: absolute; right: 0; top: 0"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToWishlist(bicycle)
            "
            *ngIf="!ifInWishlist(bicycle)"
          >
            <img [src]="svg.adToWl" alt="right arrow" />
          </button>
          <button
            style="padding: 10px; position: absolute; right: 0; top: 0"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToWishlist(bicycle)
            "
            *ngIf="ifInWishlist(bicycle)"
          >
            <img [src]="svg.addedToWLHeart" alt="right arrow" />
          </button>
          <button
            style="padding: 10px; position: absolute; right: 0; top: 36px"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToCart(bicycle)
            "
          >
            <img [src]="svg.bag" alt="right arrow" />
          </button>
        </a>

        <!-- content -->
        <div style="padding-right: 14px; padding-bottom: 14px">
          <!-- name -->
          <span class="t14 number-of-lines-1" style="margin-bottom: 3px">
            {{ bicycle.name }}
          </span>
          <!-- description -->
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 4px;
            "
          >
            <span
              *ngIf="bicycle?.oldPrice"
              style="
                color: var(--text-color);
                font-weight: 500;
                font-size: 12px;
                font-family: var(--mulish);
                text-decoration: line-through;
                text-decoration-color: var(--text-color);
              "
            >
              ${{ bicycle?.oldPrice }}
            </span>
            <span
              class="t14"
              style="color: var(--main-color); font-weight: 500"
              [ngStyle]="
                bicycle?.oldPrice
                  ? {color: 'var(--main-orange)'}
                  : {color: 'var(--main-color)'}
              "
            >
              ${{ bicycle.price }}
            </span>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
