<section style="margin-bottom: 30px">
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
    "
  >
    <h3>Featured products</h3>
    <a [routerLink]="['/menu']">
      <img [src]="svg.viewAll" alt="line" />
    </a>
  </div>
  <swiper-container slides-per-view="auto" space-between="14">
    <!-- item -->
    <swiper-slide
      class="swiper-slide"
      style="width: auto"
      *ngFor="let bicycle of bicycles"
    >
      <div style="overflow: hidden; max-width: 138px; width: 100%">
        <!-- image -->
        <a
          [routerLink]="['/bicycle', bicycle.id]"
          style="
            background-color: var(--white-color);
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 6px;
            display: flex;
          "
        >
          <img
            [src]="bicycle.image"
            style="
              width: 100%;
              height: auto;
              margin-bottom: 0px;
              border-radius: 12px;
            "
          />
        </a>

        <!-- content -->
        <div
          style="padding-left: 14px; padding-right: 14px; padding-bottom: 14px"
        >
          <!-- name -->
          <span class="t14 number-of-lines-1" style="margin-bottom: 3px">
            {{ bicycle.name }}
          </span>
          <!-- description -->
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 8px;
            "
          >
            <span
              class="t14"
              style="color: var(--main-color); font-weight: 500"
            >
              ${{ bicycle.price }}
            </span>
          </div>
        </div>
        <!-- new badge -->
        <img
          [src]="svg.new"
          alt="new badge"
          *ngIf="bicycle.isNew"
          style="position: absolute; top: 14px; left: 14px"
        />

        <!-- add btn -->
        <!-- <button
          style="padding: 14px; position: absolute; bottom: 54px; right: 0px"
          (click)="addToWishlist(bicycle, $event)"
          *ngIf="!ifInWishlist(bicycle)"
        >
          <img [src]="svg.menuListHeart" class="new-svg" />
        </button>
        <button
          style="padding: 14px; position: absolute; bottom: 54px; right: 0px"
          *ngIf="ifInWishlist(bicycle)"
        >
          <img [src]="svg.menuListHeartFill" class="new-svg" />
        </button> -->
      </div>
    </swiper-slide>
  </swiper-container>
</section>
