<app-header [showGoBack]="true" [title]="'Forgot password'" />

<main
  style="
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
  "
>
  <section
    style="
      background-color: var(--white-color);
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 10px;
    "
  >
    <p class="t16" style="margin-bottom: 32px">
      Please enter your email address. You <br />
      will receive a link to create a new <br />
      password via email.
    </p>
    <app-input-field
      [check]="true"
      [type]="'email'"
      [containerStyle]="{'margin-bottom': '16px'}"
    />
    <app-button [text]="'send'" [routerLink]="'/new-password'" />
  </section>
</main>
