<app-header
  [showGoBack]="true"
  [title]="'Order history'"
  *ngIf="!ordersIsLoading"
/>
<div style="height: 10px" *ngIf="!ordersIsLoading"></div>

<app-loader *ngIf="ordersIsLoading" />

<main
  style="margin-left: 20px; margin-right: 20px; overflow-y: auto"
  *ngIf="!ordersIsLoading"
>
  <ul style="margin-bottom: 20px">
    <li
      *ngFor="let order of orders; let last = last"
      class="order-history__item"
      [routerLink]="['/order', order.id]"
      [ngStyle]="{
        'margin-bottom': last ? '0' : '10px',
      }"
    >
      <details
        [open]="openAccordions.has(order.id)"
        (toggle)="toggleAccordion(order.id)"
        style="border-radius: 10px"
      >
        <!-- header -->
        <summary
          style="
            padding: 20px;
            background-color: var(--white-color);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          "
          [ngStyle]="{
            'border-bottom': openAccordions.has(order.id)
              ? '1px solid #DBE9F5'
              : 'none',
              'border-bottom-left-radius': openAccordions.has(order.id)
                ? '0px'
                : '10px',
              'border-bottom-right-radius': openAccordions.has(order.id)
                ? '0px'
                : '10px',
          }"
        >
          <section
            style="
              margin-bottom: 5px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            "
          >
            <span
              class="t14"
              style="color: var(--main-color); font-weight: 500"
            >
              {{ order.date }} <span class="t10">at {{ order.time }}</span>
            </span>
            <span class="t14" style="font-weight: 500; color: var(--main-color)"
              >${{ order.total }}</span
            >
          </section>
          <section
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <span class="t12"> Order ID: {{ order.id }} </span>
            <div
              style="
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 5px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
              "
              [ngStyle]="{
              'background-color':
                order.status === 'delivered'
                  ? '#00B0B9'
                  : order.status === 'shipping'
                  ? '#FFA462'
                  : order.status === 'canceled'
                  ? '#FA5555'
                  : '',
            }"
            >
              <span
                class="t10"
                style="
                  font-weight: 500;
                  color: var(--white-color);
                  line-height: 1.2;
                "
              >
                {{ order.status }}
              </span>
            </div>
          </section>
        </summary>
        <!-- Order details -->
        <section
          style="
            padding: 20px;
            margin-bottom: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: var(--white-color);
          "
        >
          <ul style="display: flex; flex-direction: column; gap: 8px">
            <li
              *ngFor="let bicycle of order.products"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <span class="t14">{{ bicycle.name }}</span>
              <span style="margin-left: auto" class="t14">
                {{ bicycle.quantity }} x ${{ bicycle.price }}
              </span>
            </li>
            <li
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
              "
            >
              <span class="t14">Discount</span>
              <span class="t14">- ${{ order.discount }}</span>
            </li>
            <li
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
              "
            >
              <span class="t14">Delivery</span>
              <span class="t14">- ${{ order.delivery }}</span>
            </li>
          </ul>
        </section>
        <!-- track order -->
        <app-button
          [text]="'track order'"
          *ngIf="order.status === 'shipping'"
          [routerLink]="['/track-your-order', order.id.toString()]"
        />
        <!-- buttons -->
        <section *ngIf="order.status === 'delivered'">
          <div
            style="
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 15px;
            "
          >
            <a
              style="
                height: 50px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--main-turquoise);
              "
              [routerLink]="['/order']"
            >
              <span
                class="t14"
                style="
                  font-weight: 700;
                  color: var(--main-turquoise);
                  text-transform: capitalize;
                "
                >repeat order</span
              >
            </a>
            <a
              style="
                height: 50px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--main-turquoise);
                background-color: var(--main-turquoise);
              "
              [routerLink]="['/leave-a-review']"
            >
              <span
                class="t14"
                style="
                  font-weight: 700;
                  color: var(--white-color);
                  text-transform: capitalize;
                "
                >Leave review</span
              >
            </a>
          </div>
        </section>
      </details>
    </li>
  </ul>
</main>
