<app-header
  [showGoBack]="true"
  [title]="'Order history'"
  *ngIf="!ordersIsLoading"
/>
<div class="spacer" *ngIf="!ordersIsLoading"></div>

<app-loader *ngIf="ordersIsLoading" />

<main class="main-container" *ngIf="!ordersIsLoading">
  <ul class="order-list">
    <li
      *ngFor="let order of orders; let last = last"
      class="order-history__item"
      [routerLink]="['/order', order.id]"
      [ngStyle]="{
        'margin-bottom': last ? '0' : '10px',
      }"
    >
      <details
        [open]="openAccordions.has(order.id)"
        (toggle)="toggleAccordion(order.id)"
        class="order-details"
      >
        <!-- header -->
        <summary
          class="order-summary"
          [ngStyle]="{
            'border-bottom': openAccordions.has(order.id)
              ? '1px solid #EEEEEE'
              : 'none',
              'border-bottom-left-radius': openAccordions.has(order.id)
                ? '0px'
                : '10px',
              'border-bottom-right-radius': openAccordions.has(order.id)
                ? '0px'
                : '10px',
          }"
        >
          <section class="order-header">
            <h5 class="order-id">#{{ order.id }}</h5>
            <img
              alt="delivered"
              [src]="svg.delivered"
              *ngIf="order.status === 'delivered'"
            />
            <img
              alt="delivered"
              [src]="svg.shipping"
              *ngIf="order.status === 'shipping'"
            />
            <img
              alt="delivered"
              [src]="svg.canceled"
              *ngIf="order.status === 'canceled'"
            />
          </section>
          <section class="order-info">
            <span class="order-date">
              {{ order.date }} at {{ order.time.toUpperCase() }}
            </span>
            <span class="order-total"> ${{ order.total }} </span>
          </section>
        </summary>
        <!-- Order details -->
        <section class="order-products">
          <ul class="product-list">
            <li *ngFor="let bike of order.products" class="product-item">
              <span class="product-name t14">{{ bike.name }}</span>
              <span class="product-quantity t14">
                {{ bike.quantity }} x ${{ bike.price }}
              </span>
            </li>
          </ul>
        </section>
      </details>
    </li>
  </ul>
</main>
