<app-header
  [showGoBack]="true"
  [title]="'Order history'"
  *ngIf="!ordersIsLoading"
/>
<div style="height: 10px" *ngIf="!ordersIsLoading"></div>

<app-loader *ngIf="ordersIsLoading" />

<main
  style="margin-left: 20px; margin-right: 20px; overflow-y: auto"
  *ngIf="!ordersIsLoading"
>
  <ul style="margin-bottom: 20px">
    <li
      *ngFor="let order of orders; let last = last"
      class="order-history__item"
      [routerLink]="['/order', order.id]"
      [ngStyle]="{
        'margin-bottom': last ? '0' : '10px',
      }"
    >
      <details
        [open]="openAccordions.has(order.id)"
        (toggle)="toggleAccordion(order.id)"
        style="border-radius: 12px"
      >
        <!-- header -->
        <summary
          style="
            padding: 20px;
            background-color: var(--white-color);
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
          "
          [ngStyle]="{
            'border-bottom': openAccordions.has(order.id)
              ? '1px solid #EEEEEE'
              : 'none',
              'border-bottom-left-radius': openAccordions.has(order.id)
                ? '0px'
                : '10px',
              'border-bottom-right-radius': openAccordions.has(order.id)
                ? '0px'
                : '10px',
          }"
        >
          <section
            style="
              margin-bottom: 7px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            "
          >
            <h5 style="color: var(--main-color); font-weight: 500">
              #{{ order.id }}
            </h5>
            <img
              alt="delivered"
              [src]="svg.delivered"
              *ngIf="order.status === 'delivered'"
            />
            <img
              alt="delivered"
              [src]="svg.shipping"
              *ngIf="order.status === 'shipping'"
            />
            <img
              alt="delivered"
              [src]="svg.canceled"
              *ngIf="order.status === 'canceled'"
            />
          </section>
          <section
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <span
              style="
                font-size: 12px;
                color: var(--text-color);
                font-family: var(--mulish);
                line-height: 1.5;
              "
            >
              {{ order.date }} at {{ order.time.toUpperCase() }}
            </span>
            <span
              style="
                font-weight: 500;
                color: var(--main-color);
                line-height: 1.2;
                font-family: var(--mulish);
                font-weight: 700;
              "
            >
              ${{ order.total }}
            </span>
          </section>
        </summary>
        <!-- Order details -->
        <section
          style="
            padding: 20px;
            margin-bottom: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: var(--white-color);
          "
        >
          <ul style="display: flex; flex-direction: column; gap: 8px">
            <li
              *ngFor="let bike of order.products"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <span class="t14">{{ bike.name }}</span>
              <span style="margin-left: auto" class="t14">
                {{ bike.quantity }} x ${{ bike.price }}
              </span>
            </li>
          </ul>
        </section>
      </details>
    </li>
  </ul>
</main>
