<app-header [showGoBack]="true" [title]="'Reset password'" />

<main
  style="
    margin-left: 20px;
    margin-right: 20px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
  "
>
  <section
    style="
      background-color: var(--white-color);
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 10px;
    "
  >
    <p class="t16" style="margin-bottom: 30px">
      Enter new password and confirm.
    </p>
    <app-input-field
      [eyeOff]="true"
      [type]="'email'"
      [placeholder]="'password'"
      [containerStyle]="{'margin-bottom': '16px'}"
    />
    <app-input-field
      [eyeOff]="true"
      [type]="'email'"
      [placeholder]="'confirm password'"
      [containerStyle]="{'margin-bottom': '16px'}"
    />
    <app-button
      [text]="'change password'"
      [routerLink]="'/forgot-password-sent-email'"
    />
  </section>
</main>
