/* Extracted styles from rating.component.html */

.rating-container {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f5fafb;
  width: fit-content;
  padding: 1px 5px;
  border-radius: 30px;
}
