<app-header />

<img
  src="./assets/bg/01.png"
  alt="Add to cart"
  style="position: absolute; width: 100%; height: auto; z-index: -1"
/>

<main class="main-container">
  <section class="section-container">
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      [src]="svg.briefcase"
      class="status-image"
    />
    <h2 class="account-created-title">Account Created!</h2>
    <p class="account-created-message">
      Your account had beed created <br />
      successfully.
    </p>
    <div class="button-container">
      <app-button [text]="'shop now'" [routerLink]="'/home'" />
    </div>
  </section>
</main>
