:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);

  .background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .main-container {
    height: 100%;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
    z-index: 2;
  }

  .section-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20%;
  }

  .status-image {
    max-width: 180px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  .account-created-title {
    text-align: center;
    margin-bottom: 14px;
    text-transform: capitalize;
    color: var(--white-color);
  }

  .account-created-message {
    text-align: center;
    color: #c3cde0;
    margin-bottom: 30px;
    line-height: 1.7;
  }

  .button-container {
    max-width: 170px;
    margin: 0 auto;
    width: 100%;
  }
}
