<app-loader *ngIf="isLoading" class="loader" />

<app-header [title]="'My promocodes'" [showGoBack]="true" *ngIf="!isLoading" />

<div class="spacer"></div>

<main *ngIf="!isLoading" class="main-container">
  <ul class="promocode-list">
    <app-promocode-item
      [promocode]="promocode"
      *ngFor="let promocode of promocodes"
    />
  </ul>
  <div class="promocode-input-container">
    <app-input-field [value]="'Add promocode'" [type]="'promocode-enter'" />
    <button
      class="add-promocode-button"
      (click)="
        $event.stopPropagation(); $event.preventDefault(); addPromocode()
      "
    >
      <span class="add-promocode-text t14"> + Add </span>
    </button>
  </div>
</main>
