<app-header [showGoBack]="true" [showBasket]="true" [title]="'Shop'" />
<app-loader *ngIf="isLoading" />

<!-- Filters and Sorting -->
<section class="filters">
  <div class="filters-container">
    <button
      [routerLink]="['/filter']"
      (click)="$event.stopPropagation(); $event.preventDefault()"
    >
      <img [src]="svg.filter" alt="filter" class="filter" />
    </button>
    <button (click)="openSortingPopup($event)">
      <img [src]="svg.sortingBy" alt="filter" class="filter" />
    </button>
  </div>
</section>

<main class="main-container">
  <ul class="shop-list">
    <app-shop-item *ngFor="let bike of bikes; let i = index" [bike]="bike" />
  </ul>
</main>

<!-- Sorting Popup -->
<div
  class="sorting-popup-backdrop"
  *ngIf="isSortingPopupOpen"
  (click)="closeSortingPopup()"
></div>

<ul class="sorting-popup" *ngIf="isSortingPopupOpen" [@fadeInOut]>
  <li
    *ngFor="let item of modalData; let i = index; let last = last"
    [ngStyle]="{'border-bottom': !last ? '1px solid #C8CDD9' : ''}"
    (click)="selectCategory(item)"
    class="sorting-popup-item"
  >
    <span class="t18">{{ item }}</span>
    <div class="rounded">
      <div *ngIf="selectedCategory === item" class="selected"></div>
    </div>
  </li>
</ul>
