<img src="./assets/bg/01.png" alt="Add to cart" class="background-image" />

<main class="main-container">
  <section class="content-section">
    <img [alt]="'info saved'" [src]="svg.emptyHeart" class="wishlist-image" />
    <h2 class="wishlist-title">Your Wishlist is empty!</h2>
    <p class="wishlist-description t16">
      Looks like you haven't chosen the <br />
      items you like.
    </p>
    <div class="button-container">
      <app-button [text]="'shop now'" [routerLink]="'/shop'" />
    </div>
  </section>
</main>

<app-bottom-tab-bar
  [style]="{backgroundColor: 'transparent', paddingTop: '0px'}"
  [footerStyle]="{border: '1px solid #555C6A'}"
/>
