<app-header />

<img
  src="./assets/bg/01.png"
  alt="Add to cart"
  style="position: absolute; width: 100%; height: auto; z-index: -1"
/>

<main
  style="height: 100%; overflow-y: auto; margin-left: 20px; margin-right: 20px"
>
  <section
    style="
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 20%;
    "
  >
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      [src]="svg.pocket"
      style="width: 180px"
    />
    <h2
      style="
        text-align: center;
        margin-bottom: 14px;
        text-transform: capitalize;
        color: var(--white-color);
        text-transform: capitalize;
      "
    >
      Info Saved!
    </h2>
    <p
      class="t16"
      style="text-align: center; color: #c3cde0; margin-bottom: 30px"
    >
      Your personal information has been <br />
      securely stored.
    </p>
    <div style="max-width: 170px; margin: 0 auto; width: 100%">
      <app-button [text]="'Done'" [routerLink]="'/profile'" />
    </div>
  </section>
</main>
