<app-header />

<main style="height: 100%; margin-left: 20px; margin-right: 20px">
  <section
    style="
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: var(--white-color);
    "
  >
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      [src]="URLS.MAIN_URL + '/assets/images/12.jpg'"
    />
    <h2
      style="text-align: center; margin-bottom: 4%; text-transform: capitalize"
    >
      Info Saved!
    </h2>
    <p [className]="'t16'" style="text-align: center; margin-bottom: 8%">
      Your information has been <br />
      saved successfully.
    </p>
  </section>
</main>

<section style="padding: 20px">
  <app-button [text]="'Get started'" [routerLink]="'/home'" />
</section>
