<img alt="bg" src="./assets/bg/01.png" class="background-image" />

<main class="main-container">
  <section class="content-section">
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      [src]="svg.failedCross"
      class="failed-image"
    />
    <h2 class="failed-title">Your order has failed!</h2>
    <p class="failed-description">
      Something went wrong. Please try <br />
      again to continue your order.
    </p>
    <div class="button-grid">
      <app-button
        [text]="'my profile'"
        [colorScheme]="'secondary'"
        [routerLink]="['/profile']"
      />
      <app-button [text]="'try again'" [routerLink]="['/order']" />
    </div>
  </section>
</main>
