<app-header
  [title]="'My profile'"
  [showBurger]="true"
  [showBasket]="true"
  [showBorder]="true"
/>

<main class="main-container">
  <div class="profile-header">
    <h3 class="profile-name">Darron Banks</h3>
    <span class="profile-email t14">{{ 'darronbanks@mail.com' }}</span>
  </div>

  <ul>
    <app-profile-menu-item
      [title]="'Personal info'"
      [icon]="svg.profileUser"
      [routerLink]="'/edit-profile'"
    />
    <app-profile-menu-item
      [icon]="svg.calendar"
      [title]="'Order history'"
      [routerLink]="'/order-history'"
    />
    <app-profile-menu-item
      [icon]="svg.calendar"
      [title]="'Order history empty'"
      [routerLink]="'/order-history-empty'"
    />
    <app-profile-menu-item
      [icon]="svg.gift"
      [title]="'My promocodes'"
      [routerLink]="'/my-promocodes'"
    />
    <app-profile-menu-item
      [icon]="svg.gift"
      [title]="'My promocodes empty'"
      [routerLink]="'/my-promocodes-empty'"
    />
    <app-profile-menu-item
      [icon]="isPhoneVerified ? svg.smartphoneGray : svg.smartphoneOrange"
      [title]="isPhoneVerified ? 'Phone verified' : 'Verify phone number'"
      [routerLink]="isPhoneVerified ? '#' : '/verify-your-phone-number'"
      [titleStyle]="{
        color: isPhoneVerified ? 'var(--gray-color)' : 'var(--main-orange)'
      }"
    />
    <app-profile-menu-item
      [icon]="isEmailVerified ? svg.mailGray : svg.mailOrange"
      [title]="isEmailVerified ? 'Email verified' : 'Verify email'"
      [routerLink]="isEmailVerified ? '#' : '/verify-your-email'"
      [titleStyle]="{
        color: isEmailVerified ? 'var(--gray-color)' : 'var(--main-orange)'
      }"
    />
    <app-profile-menu-item
      [icon]="svg.exit"
      [title]="'Sign out'"
      [routerLink]="'/sign-out'"
    />
    <app-profile-menu-item
      [icon]="svg.cross"
      [title]="'Delete account'"
      [routerLink]="'/'"
      [titleStyle]="{color: 'var(--main-orange)'}"
    />
  </ul>
</main>

<app-bottom-tab-bar />
