<img
  alt="Background Image"
  src="./assets/bg/01.png"
  style="position: absolute; width: 100%; height: auto; z-index: -1"
/>

<main
  style="height: 100%; overflow-y: auto; margin-left: 20px; margin-right: 20px"
>
  <section
    style="
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 20%;
    "
  >
    <img
      [alt]="'log out'"
      [src]="svg.logOut"
      style="width: 180px; margin: 0 auto; margin-bottom: 20px"
    />
    <h2
      style="
        text-align: center;
        margin-bottom: 14px;
        text-transform: capitalize;
        color: var(--white-color);
        text-transform: capitalize;
      "
    >
      Are you sure?
    </h2>
    <p
      class="t16"
      style="text-align: center; color: #c3cde0; margin-bottom: 30px"
    >
      You will need to enter your email and <br />
      password again.
    </p>
    <div
      style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 15px"
    >
      <app-button
        [text]="'Sure'"
        [routerLink]="'/sign-in'"
        [colorScheme]="'secondary'"
      />
      <app-button [text]="'Cancel'" [routerLink]="'/profile'" />
    </div>
  </section>
</main>
