<app-loader *ngIf="menuIsLoading" />

<app-header
  [showBasket]="true"
  [showUser]="true"
  [showUserName]="true"
  *ngIf="!menuIsLoading"
/>

<main
  style="
    height: 100%;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
  "
  *ngIf="!menuIsLoading"
>
  <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 15px">
    <a
      *ngFor="let item of menu"
      style="border-radius: 10px; overflow: hidden; position: relative"
      [routerLink]="['/menu-list']"
    >
      <img [src]="item.image" alt="menu item" style="width: 100%" />
      <div style="position: absolute; bottom: 10px; left: 15px">
        <span class="t16" style="color: var(--main-color)">
          {{ item.name }}
        </span>
      </div>
    </a>
  </div>
</main>

<app-bottom-tab-bar *ngIf="!menuIsLoading" />
