:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* fake-input.component.scss */
.fake-input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  min-height: 40px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: text;
}
