<img src="./assets/bg/01.png" alt="Add to cart" class="background-image" />

<app-header
  [title]="'My promocodes'"
  [showGoBack]="true"
  [goBackColor]="'white'"
  [titleStyle]="{color: 'var(--white-color)'}"
/>

<main class="main-container">
  <section class="content-section">
    <img
      [alt]="'info saved'"
      [src]="svg.promocodeGift"
      class="promocode-image"
    />
    <h2 class="promocode-title">
      Your don’t have <br />
      promocodes yet!
    </h2>
    <p class="promocode-description t16">
      Start using the app and <br />
      get your first promocode!
    </p>
    <div class="button-container">
      <div class="get-promocode-button" (click)="setValue()">
        <span>{{ value === '' ? 'Get promocodes' : value }}</span>
      </div>
      <app-button [text]="'done'" [routerLink]="'/my-promocodes'" />
    </div>
  </section>
</main>
