<app-header [title]="'Promocodes & gift cards'" [showGoBack]="true" />
<div style="height: 10px"></div>

<main
  style="height: 100%; margin-left: 20px; margin-right: 20px; overflow-y: auto"
>
  <section
    style="
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: var(--white-color);
    "
  >
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      [src]="URLS.MAIN_URL + '/assets/images/04.jpg'"
    />
    <h2
      style="
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 14px;
      "
    >
      Your don’t have <br />
      promocodes yet!
    </h2>
    <p
      [className]="'t16'"
      style="text-align: center"
      style="margin-bottom: 30px; text-align: center"
    >
      Stay tuned for and discounts to <br />
      enhance your dining experience.
    </p>
    <app-input-field
      [placeholder]="'Enter promocode'"
      [type]="'promocode-enter'"
      [containerStyle]="{'margin-bottom': '20px'}"
    />
    <app-button [text]="'add promocode'" [routerLink]="'/my-promocodes'" />
  </section>
</main>

<div style="height: 20px"></div>
