<app-header />

<img src="./assets/bg/01.png" alt="bg" class="background" />

<main class="main-container">
  <section class="section-container">
    <img [alt]="'info saved'" [src]="svg.lock" class="status-image" />
    <h2 class="password-reset-title">
      Your password has <br />
      been reset!
    </h2>
    <p class="password-reset-message">
      Your account had beed created <br />
      successfully.
    </p>
    <div class="button-container">
      <app-button [text]="'done'" [routerLink]="'/'" />
    </div>
  </section>
</main>
