<app-header />

<img
  src="./assets/bg/01.png"
  alt="Add to cart"
  style="position: absolute; width: 100%; height: auto; z-index: -1"
/>

<main class="main-container">
  <section class="section-container">
    <img
      [alt]="'info saved'"
      [className]="'status-image'"
      [src]="svg.lock"
      class="status-image"
    />
    <h2 class="password-reset-title">
      Your password has <br />
      been reset!
    </h2>
    <p class="password-reset-message">
      Your account had beed created <br />
      successfully.
    </p>
    <div class="button-container">
      <app-button [text]="'done'" [routerLink]="'/sign-in'" />
    </div>
  </section>
</main>
