<app-header [title]="'Checkout'" [showGoBack]="true" [showBorder]="true" />

<main class="main">
  <div class="my-order">
    <h4>My order</h4>
    <h4>${{ total.toFixed(2) }}</h4>
  </div>

  <section class="order-section">
    <ul class="bikes-list">
      <li
        *ngFor="let bike of list; let i = index; let last = last"
        class="bike-item"
        [ngClass]="{'last-child': last}"
      >
        <span class="t14">{{ bike.name }}</span>
        <span class="t14">{{ bike.quantity }} x ${{ bike.price }}</span>
      </li>
    </ul>
    <div class="discount-delivery">
      <span class="t14">Discount</span>
      <span class="t14">${{ discount }}</span>
    </div>
    <div class="discount-delivery">
      <span class="t14">Delivery</span>
      <span *ngIf="delivery === 0" class="delivery-free">Free</span>
      <span *ngIf="delivery !== 0">${{ delivery }}</span>
    </div>
  </section>

  <h5 class="shipping-info">Shipping & payment info</h5>

  <section>
    <div class="shipping-details">
      <span class="t14">Darron Banks</span>
      <span class="t14">8000 S Kirkland Ave, Chicago, IL 6065...</span>
      <span class="t14">**** 4864</span>
    </div>
  </section>
</main>

<section class="confirm-button">
  <app-button [routerLink]="'/order-successful'" [text]="'Confirm order'" />
</section>
