<div
  style="
    /* border-radius: 10px;
    position: relative;
    height: 111px;
    display: grid;
    
    align-items: center;
    column-gap: 10px; */
    display: grid;
    column-gap: 14px;
    position: relative;
    grid-template-columns: 100px 1fr 30px;
  "
>
  <!-- image -->
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    "
  >
    <a
      [routerLink]="['/bike', bike?.id]"
      [ngStyle]="{'background-image': 'url(' + bike?.image + ')'}"
      style="
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        width: 100px;
        height: 100px;
        position: relative;
      "
    >
      <img
        src="{{ bike?.image }}"
        alt="{{ bike?.name }}"
        style="
          width: 100%;
          height: 100%;
          border-radius: 12px;
          object-fit: contain;
        "
        [src]="bike?.image"
      />
      <div
        style="
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: #66a97d;
          border-radius: 6px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 6px;
          padding-right: 6px;
        "
        *ngIf="bike?.oldPrice"
      >
        <span
          style="
            font-size: 8px;
            text-transform: uppercase;
            font-family: var(--mulish);
            font-weight: 700;
            color: var(--white-color);
            line-height: 1;
          "
        >
          sale
        </span>
      </div>
    </a>
  </div>

  <!-- info -->
  <div style="display: flex; flex-direction: column">
    <span class="number-of-lines-1 t14" style="margin-bottom: 4px">
      {{ bike?.name }}
    </span>
    <span
      class="t14"
      style="color: var(--main-color); font-weight: 500; margin-bottom: auto"
    >
      ${{ bike?.price }}
    </span>
    <span
      style="
        font-size: 14px;
        color: var(--text-color);
        line-height: 1.5;
        margin-bottom: 3px;
      "
    >
      Color: {{ bike?.color ? bike?.color : 'N/A' }}
    </span>
  </div>

  <!-- buttons -->
  <div
    style="
      height: 100%;
      position: absolute;
      right: 0px;
      top: 0px;
      display: flex;
      flex-direction: column;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    "
  >
    <button
      style="padding: 14px; padding-bottom: 0"
      (click)="bike && removeFromCart(bike, $event)"
    >
      <img
        src="{{ svg.counterMinus }}"
        alt="Remove from cart"
        style="width: 21px; height: 21px; cursor: pointer"
      />
    </button>
    <span class="t12">{{ bike?.quantity }}</span>
    <button style="padding: 14px; padding-top: 0">
      <img
        src="{{ svg.counterPlus }}"
        alt="Remove from cart"
        style="width: 21px; height: 21px; cursor: pointer"
        (click)="bike && addToCart(bike, $event)"
      />
    </button>
  </div>
</div>
