<div class="order-item-container">
  <!-- image -->
  <div class="order-item-image">
    <a
      [routerLink]="['/bike', bike?.id]"
      [ngStyle]="{'background-image': 'url(' + bike?.image + ')'}"
      class="order-item-link"
    >
      <img
        src="{{ bike?.image }}"
        alt="{{ bike?.name }}"
        class="order-item-img"
        [src]="bike?.image"
      />
      <div class="sale-badge" *ngIf="bike?.oldPrice">
        <span class="sale-text"> sale </span>
      </div>
    </a>
  </div>

  <!-- info -->
  <div class="order-item-info">
    <span class="number-of-lines-1 t14 order-item-name">
      {{ bike?.name }}
    </span>
    <div class="order-item-prices">
      <span *ngIf="bike?.oldPrice" class="old-price">
        ${{ bike?.oldPrice }}
      </span>
      <span
        class="new-price"
        [ngStyle]="
          bike?.oldPrice
            ? {color: 'var(--main-orange)'}
            : {color: 'var(--main-color)'}
        "
      >
        ${{ bike?.price }}
      </span>
    </div>
    <span class="order-item-color">
      Color: {{ bike?.color ? bike?.color : 'N/A' }}
    </span>
  </div>

  <!-- buttons -->
  <div class="order-item-buttons">
    <button (click)="bike && addToCart(bike, $event)" class="order-item-button">
      <img src="{{ svg.orderItemPlus }}" alt="Remove from cart" />
    </button>
    <span class="t12">{{ bike?.quantity }}</span>
    <button
      (click)="bike && removeFromCart(bike, $event)"
      class="order-item-button"
    >
      <img src="{{ svg.orderItemMinus }}" alt="Remove from cart" />
    </button>
  </div>
</div>
