<div
  style="
    background-color: var(--white-color);
    border-radius: 10px;
    position: relative;
    height: 111px;
    display: grid;
    grid-template-columns: 111px 1fr 50px;
    align-items: center;
    column-gap: 10px;
  "
>
  <!-- image -->
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    "
  >
    <a
      [routerLink]="['/dish', dish?.id]"
      [ngStyle]="{'background-image': 'url(' + dish?.image + ')'}"
      style="
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        position: relative;
      "
    >
      <img
        src="{{ dish?.image }}"
        alt="{{ dish?.name }}"
        style="
          width: 100%;
          height: 100%;
          border-radius: 12px;
          object-fit: cover;
        "
        [src]="dish?.image"
      />
    </a>
    <img
      *ngIf="dish?.isNew"
      src="{{ svg.new }}"
      alt="Add to cart"
      style="position: absolute; left: 7px; top: 7px"
    />
  </div>

  <!-- info -->
  <div style="display: flex; flex-direction: column">
    <span class="number-of-lines-1 t14" style="margin-bottom: 4px">
      {{ dish?.name }}
    </span>
    <span class="t10" style="margin-bottom: 12px">
      {{ dish?.kcal }} kcal - {{ dish?.weight }} g
    </span>
    <span class="t14" style="color: var(--main-color); font-weight: 500">
      ${{ dish?.price }}
    </span>
  </div>

  <!-- buttons -->
  <div
    style="
      height: 100%;
      position: absolute;
      right: 0px;
      top: 0px;
      display: flex;
      flex-direction: column;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    "
  >
    <button
      style="padding: 14px; padding-bottom: 0"
      (click)="dish && removeFromCart(dish, $event)"
    >
      <img
        src="{{ svg.counterMinus }}"
        alt="Remove from cart"
        style="width: 21px; height: 21px; cursor: pointer"
      />
    </button>
    <span class="t12">{{ dish?.quantity }}</span>
    <button style="padding: 14px; padding-top: 0">
      <img
        src="{{ svg.counterPlus }}"
        alt="Remove from cart"
        style="width: 21px; height: 21px; cursor: pointer"
        (click)="dish && addToCart(dish, $event)"
      />
    </button>
  </div>
</div>
