<app-header [showGoBack]="true" [title]="'Filter'" />

<main class="main-container">
  <!-- STATUS -->
  <section class="status-section">
    <ul>
      <li *ngFor="let item of status; let i = index">
        <div class="status-item" (click)="selectStatus(item)">
          <div class="status-box" (click)="selectStatus(item)">
            <img [src]="svg.statusSelect" *ngIf="selectedStatus === item" />
          </div>
          <div
            class="status-label"
            [ngClass]="{
              sale: item === 'sale',
              new: item === 'new',
              top: item === 'top'
            }"
          >
            <span>{{ item }}</span>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!-- COLOR -->
  <section class="color-section">
    <h5>Color</h5>
    <ul>
      <li
        *ngFor="let color of colors"
        class="color-item"
        (click)="
          $event.stopPropagation();
          $event.preventDefault();
          selectColor(color.code)
        "
        [ngStyle]="{
          backgroundColor: color.code
        }"
      >
        <img *ngIf="selectedColor() === color.code" [src]="svg.colorSelect" />
      </li>
    </ul>
  </section>

  <!-- BIKE TYPE -->
  <section class="bike-type-section">
    <h5>Bike Type</h5>
    <ul>
      <li
        *ngFor="let item of categories"
        class="bike-item"
        [ngClass]="{selected: selectedCategory === item}"
        (click)="
          $event.stopPropagation();
          $event.preventDefault();
          selectCategory(item)
        "
      >
        <span
          [ngClass]="{
            selected: selectedCategory === item,
            unselected: selectedCategory !== item
          }"
        >
          {{ item }}
        </span>
      </li>
    </ul>
  </section>

  <!-- SYSPENSION TYPE -->
  <section class="suspension-type-section">
    <h5>Suspension Type</h5>
    <ul>
      <li
        *ngFor="let item of suspensionTypes"
        class="suspension-item"
        [ngClass]="{selected: selectedSuspensionType === item}"
        (click)="
          $event.stopPropagation();
          $event.preventDefault();
          selectSuspensionType(item)
        "
      >
        <span
          [ngClass]="{
            selected: selectedSuspensionType === item,
            unselected: selectedSuspensionType !== item
          }"
        >
          {{ item }}
        </span>
      </li>
    </ul>
  </section>

  <!-- DRIVETRAIN TYPE -->
  <section class="drivetrain-type-section">
    <h5>Drivetrain</h5>
    <ul>
      <li
        *ngFor="let item of driveTrain"
        class="drivetrain-item"
        [ngClass]="{selected: selectedDriveTrain === item}"
        (click)="
          $event.stopPropagation();
          $event.preventDefault();
          selectDriveTrain(item)
        "
      >
        <span
          [ngClass]="{
            selected: selectedDriveTrain === item,
            unselected: selectedDriveTrain !== item
          }"
        >
          {{ item }}
        </span>
      </li>
    </ul>
  </section>
</main>

<!-- buttons -->
<section class="filter-buttons">
  <app-button
    [text]="'apply filters'"
    [containerStyle]="{'margin-bottom': '6px'}"
    [routerLink]="'/shop'"
  />
</section>
