<app-header [showGoBack]="true" [title]="'Filter'" />

<main
  style="
    height: 100%;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    user-select: none;
  "
>
  <!-- STATUS -->
  <section style="margin-bottom: 30px">
    <ul style="display: grid; grid-template-columns: repeat(3, 1fr)">
      <li *ngFor="let item of status; let i = index">
        <div
          style="
            display: flex;
            flex-direction: row;
            gap: 8px;
            user-select: none;
            cursor: pointer;
          "
          (click)="
            $event.stopPropagation();
            $event.preventDefault();
            selectStatus(item)
          "
        >
          <div
            style="
              width: 18px;
              height: 18px;
              border: 1px solid #eeeeee;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--white-color);
            "
            (click)="selectStatus(item)"
          >
            <img [src]="svg.statusSelect" *ngIf="selectedStatus === item" />
          </div>
          <div
            [ngStyle]="{
              backgroundColor:
                item === 'sale'
                  ? '#66A97D'
                  : item === 'new'
                  ? '#FF7557'
                  : '#FF6262'
            }"
            style="
              height: 19px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 1px 6px;
              border-radius: 6px;
            "
          >
            <span
              style="
                text-transform: capitalize;
                font-size: 10px;
                text-transform: uppercase;
                color: var(--white-color);
                font-weight: 700;
              "
            >
              {{ item }}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!-- COLOR -->
  <section style="margin-bottom: 34px">
    <h5 style="margin-bottom: 14px">Color</h5>
    <ul style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 14px">
      <li
        *ngFor="let color of colors"
        style="
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        "
        (click)="
          $event.stopPropagation();
          $event.preventDefault();
          selectColor(color.code)
        "
        [ngStyle]="{
          backgroundColor: color.code,
        }"
      >
        <img
          *ngIf="selectedColor() === color.code"
          [src]="svg.colorSelect"
          style="width: 16px; height: 16px"
        />
      </li>
    </ul>
  </section>

  <!-- BIKE TYPE -->
  <section>
    <h5 style="margin-bottom: 14px">Bike Type</h5>
    <ul style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 8px">
      <li
        *ngFor="let item of categories"
        style="
          display: flex;
          flex-direction: row;
          gap: 8px;
          user-select: none;
          cursor: pointer;
          border: 1px solid #eeeeee;
          background-color: var(--white-color);
          padding: 5px 20px 7px 20px;
          border-radius: 30px;
        "
        [ngStyle]="{
          backgroundColor:
            selectedCategory === item
              ? 'var(--main-orange)'
              : 'var(--white-color)',
          
        }"
        (click)="
          $event.stopPropagation();
          $event.preventDefault();
          selectCategory(item)
        "
      >
        <span
          style="font-family: var(--mulish); font-weight: 700"
          [ngStyle]="{
            color: selectedCategory === item ? 'var(--white-color)' : 'var(--main-color)',
          }"
        >
          {{ item }}
        </span>
      </li>
    </ul>
  </section>
</main>

<!-- buttons -->
<section style="padding: 20px">
  <app-button
    [text]="'apply filters'"
    [containerStyle]="{'margin-bottom': '6px'}"
    [routerLink]="'/shop'"
  />
</section>
