<!-- <app-loader *ngIf="isLoading" /> -->

<app-header
  [showBurger]="true"
  [showLogo]="true"
  [showBasket]="true"
  [showUser]="true"
  [showUserName]="true"
  *ngIf="!isLoading"
/>

<main style="overflow-y: auto; height: 100%" *ngIf="!isLoading">
  <!-- BANNER -->
  <section
    style="
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 40px;
      margin-top: 4px;
    "
  >
    <a [routerLink]="['/bicycle', '1']">
      <img
        alt="banner"
        src="https://spinride-data.vercel.app/assets/banners/01.jpg"
        style="width: 100%; height: auto; border-radius: 12px"
      />
    </a>
  </section>

  <!-- BEST SELLERS -->
  <app-best-sellers [bicycles]="bicycles" />

  <!-- BANNER -->
  <section
    style="
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 40px;
      margin-top: 4px;
    "
  >
    <a [routerLink]="['/bicycle', '1']">
      <img
        alt="banner"
        src="https://spinride-data.vercel.app/assets/banners/02.jpg"
        style="width: 100%; height: auto; border-radius: 12px"
      />
    </a>
  </section>

  <!-- FEATURED -->
  <app-home-featured [bicycles]="bicycles" />
</main>

<app-bottom-tab-bar *ngIf="!isLoading" />
