<app-loader *ngIf="isLoading" />

<app-header
  [showBurger]="true"
  [showLogo]="true"
  [showBasket]="true"
  [showUser]="true"
  [showUserName]="true"
  *ngIf="!isLoading"
/>

<main style="overflow-y: auto; height: 100%" *ngIf="!isLoading">
  <!-- BANNER -->
  <app-home-carousel [carousel]="carousel" />
  <img
    *ngIf="carousel.length === 0"
    src="https://spinride-data.vercel.app/assets/images/empty.png"
    alt="empty"
    style="
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  />

  <!-- CATEGORIES -->
  <app-home-categories [categories]="categories" />

  <!-- RECOMENDED -->
  <app-recomended [dishes]="dishes" />

  <!-- REVIEWS -->
  <app-home-reviews [reviews]="reviews" />
</main>

<app-bottom-tab-bar *ngIf="!isLoading" />
