<app-loader *ngIf="isLoading" />

<app-header
  [showBurger]="true"
  [showLogo]="true"
  [showBasket]="true"
  [showUser]="true"
  [showUserName]="true"
  *ngIf="!isLoading"
/>

<main class="main-container" *ngIf="!isLoading">
  <!-- BANNER -->
  <section class="banner-section">
    <a [routerLink]="['/bike', '1']">
      <img
        alt="banner"
        src="https://spinride-data.vercel.app/assets/banners/01.jpg"
        class="banner-image"
      />
    </a>
  </section>

  <!-- BEST SELLERS -->
  <app-best-sellers [bikes]="bikes" />

  <!-- BANNER -->
  <section class="banner-section">
    <a [routerLink]="['/bike', '1']">
      <img
        alt="banner"
        src="https://spinride-data.vercel.app/assets/banners/02.jpg"
        class="banner-image"
      />
    </a>
  </section>

  <!-- FEATURED -->
  <app-home-featured [bikes]="bikes" />
</main>

<app-bottom-tab-bar *ngIf="!isLoading" />
