<div [style]="containerStyle">
  <footer
    [ngStyle]="{'max-width': isMobile ? '100%' : 'var(--screen-width)'}"
    style="
      background-color: var(--main-color);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
      /* grid-template-columns: repeat(5, 1fr); */
      border-radius: 70px;
      height: var(--tab-bar-height);
    "
    [style]="footerStyle"
  >
    <!-- HOME -->
    <a
      [routerLink]="'/home'"
      style="
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
      "
    >
      <img
        alt=""
        [src]="
          activeRoute === 'home'
            ? 'assets/svg/tabs/home-active.svg'
            : 'assets/svg/tabs/home-inactive.svg'
        "
      />
    </a>

    <!-- CATEGORIES -->
    <a
      [routerLink]="'/categories'"
      style="
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
      "
    >
      <img
        alt=""
        [src]="
          activeRoute === 'categories'
            ? 'assets/svg/tabs/category-active.svg'
            : 'assets/svg/tabs/category-inactive.svg'
        "
      />
    </a>

    <!-- ORDER -->
    <a
      [routerLink]="list.length === 0 ? '/order-empty' : '/order'"
      style="
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
      "
    >
      <img
        alt=""
        [src]="
          activeRoute === 'order' || activeRoute === 'order-empty'
            ? 'assets/svg/tabs/order-active.svg'
            : 'assets/svg/tabs/order-inactive.svg'
        "
      />
    </a>

    <!-- FAVORITE -->
    <a
      [routerLink]="wishlist.length === 0 ? '/wishlist-empty' : '/wishlist'"
      style="
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
      "
    >
      <img
        alt=""
        [src]="
          activeRoute === 'wishlist' || activeRoute === 'wishlist-empty'
            ? 'assets/svg/tabs/wishlist-active.svg'
            : 'assets/svg/tabs/wishlist-inactive.svg'
        "
      />
    </a>

    <!-- PROFILE -->
    <a
      [routerLink]="'/profile'"
      style="
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
      "
    >
      <img
        alt=""
        [src]="
          activeRoute === 'profile'
            ? 'assets/svg/tabs/profile-active.svg'
            : 'assets/svg/tabs/profile-inactive.svg'
        "
      />
    </a>
  </footer>
</div>
