.header-container {
  width: 100%;
  z-index: 8;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: var(--header-height);
  justify-content: space-between;
}

.go-back-button {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.burger-button {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--main-color);
}

.search-button {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.basket-link {
  display: flex;
  padding: 0 20px;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
}

.basket-indicator {
  border-radius: 30px;
  padding: 5px 4px 3px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 34px;
  bottom: 8px;
  background-color: var(--main-orange);
}

.basket-total {
  font-size: 10px;
  font-weight: 700;
  display: block;
  margin-bottom: 2px;
  line-height: 1;
  color: var(--white-color);
  font-family: var(--mulish);
}
