<header
  [ngStyle]="combinedStyles"
  style="
    width: 100%;
    z-index: 8;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: var(--header-height);
    justify-content: space-between;
    /* border: 1px solid red; */
  "
>
  <!-- GO BACK -->
  <button
    (click)="goBack()"
    *ngIf="showGoBack"
    style="
      padding-left: 20px;
      padding-right: 20px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <img src="assets/svg/go-back.svg" alt="go back icon" />
  </button>

  <!-- BURGER -->
  <button *ngIf="showBurger">
    <img
      [src]="burgerColor === 'white' ? svg.burgerWhite : svg.burger"
      alt="burger icon"
      style="
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    />
  </button>

  <!-- TITLE -->
  <h4
    *ngIf="title"
    style="
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: var(--main-color);
    "
    [ngStyle]="titleStyle"
  >
    {{ title }}
  </h4>

  <!-- SEARCH -->
  <button
    *ngIf="showSearch"
    style="position: absolute; right: 50%; transform: translateX(50%)"
  >
    <img [src]="svg.categorySearch" alt="logo" />
  </button>

  <!-- BASKET -->
  <a
    *ngIf="showBasket"
    [routerLink]="['/order']"
    style="
      display: flex;
      padding: 0 20px;
      position: absolute;
      right: 0;
      align-items: center;
      justify-content: center;
      height: var(--header-height);
      position: absolute;
    "
  >
    <div
      style="
        /* height: 20px; */
        border-radius: 30px;
        padding: 5px 4px 3px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 34px;
        bottom: 8px;
        background-color: var(--main-orange);
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <span
        style="
          font-size: 10px;
          font-weight: 400;
          display: block;
          margin-bottom: 2px;
          line-height: 1;
          color: var(--white-color);
          font-weight: 700;
          font-family: var(--mulish);
        "
      >
        ${{
          total.toFixed(2) === '0.00'
            ? '0'
            : total.toFixed(2) === '-0.00'
            ? '0'
            : total.toFixed(2)
        }}
      </span>
    </div>
    <img alt="basket" src="assets/svg/basket.svg" />
  </a>
</header>
