<header [ngStyle]="combinedStyles" class="header-container">
  <!-- GO BACK -->
  <button (click)="goBack()" *ngIf="showGoBack" class="go-back-button">
    <img [src]="svg.goBack" alt="go back icon" *ngIf="goBackColor === 'main'" />
    <img
      [src]="svg.goBackWhite"
      alt="go back icon"
      *ngIf="goBackColor === 'white'"
    />
  </button>

  <!-- BURGER -->
  <button *ngIf="showBurger" (click)="openModal()" class="burger-button">
    <img
      [src]="burgerColor === 'white' ? svg.burgerWhite : svg.burger"
      alt="burger icon"
    />
  </button>

  <!-- TITLE -->
  <h4 *ngIf="title" class="header-title" [ngStyle]="titleStyle">
    {{ title }}
  </h4>

  <!-- SEARCH -->
  <button
    *ngIf="showSearch"
    class="search-button"
    (click)="$event.stopPropagation(); $event.preventDefault()"
  >
    <img [src]="svg.categorySearch" alt="logo" />
  </button>

  <!-- BASKET -->
  <a *ngIf="showBasket" [routerLink]="['/order']" class="basket-link">
    <div class="basket-indicator">
      <span class="basket-total">
        ${{
          total.toFixed(2) === '0.00'
            ? '0'
            : total.toFixed(2) === '-0.00'
            ? '0'
            : total.toFixed(2)
        }}
      </span>
    </div>
    <img alt="basket" src="assets/svg/basket.svg" />
  </a>
</header>
