<section style="margin-bottom: 30px">
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 13px;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
    "
  >
    <h3>Best sellers</h3>
    <a [routerLink]="['/menu']">
      <img [src]="svg.viewAll" alt="line" />
    </a>
  </div>
  <swiper-container slides-per-view="auto" space-between="10">
    <!-- item -->
    <swiper-slide
      class="swiper-slide"
      style="width: auto"
      *ngFor="let dish of dishes"
    >
      <div
        style="
          background-color: var(--white-color);
          border-radius: 10px;
          overflow: hidden;
          max-width: 200px;
          width: 100%;
        "
      >
        <!-- image -->
        <a [routerLink]="['/dish', dish.id]">
          <img
            [src]="dish.image"
            style="width: 100%; height: auto; margin-bottom: 0px"
          />
        </a>

        <!-- content -->
        <div
          style="padding-left: 14px; padding-right: 14px; padding-bottom: 14px"
        >
          <!-- name -->
          <span class="t14 number-of-lines-1" style="margin-bottom: 3px">
            {{ dish.name }}
          </span>
          <!-- description -->
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 8px;
            "
          >
            <span
              class="t14"
              style="color: var(--main-color); font-weight: 500"
            >
              ${{ dish.price }}
            </span>
            <span class="t10">|</span>
            <span class="t10" style="font-weight: 500">
              {{ dish.weight }}g
            </span>
            <!-- <button style="margin-left: auto" (click)="addToCart(dish, $event)">
              <img [src]="svg.addToCart" alt="heart" />
            </button> -->
          </div>
        </div>
        <!-- new badge -->
        <img
          [src]="svg.new"
          alt="new badge"
          *ngIf="dish.isNew"
          style="position: absolute; top: 14px; left: 14px"
        />

        <!-- add btn -->
        <!-- <button
          style="padding: 14px; position: absolute; bottom: 54px; right: 0px"
          (click)="addToWishlist(dish, $event)"
          *ngIf="!ifInWishlist(dish)"
        >
          <img [src]="svg.menuListHeart" class="new-svg" />
        </button>
        <button
          style="padding: 14px; position: absolute; bottom: 54px; right: 0px"
          *ngIf="ifInWishlist(dish)"
        >
          <img [src]="svg.menuListHeartFill" class="new-svg" />
        </button> -->
      </div>
    </swiper-slide>
  </swiper-container>
</section>
