<section class="best-sellers-section">
  <div class="best-sellers-header">
    <h3>Best sellers</h3>
    <a [routerLink]="['/shop']">
      <img [src]="svg.viewAll" alt="line" />
    </a>
  </div>
  <swiper-container slides-per-view="auto" space-between="14">
    <!-- item -->
    <swiper-slide class="swiper-slide" *ngFor="let bike of bikes">
      <div class="bike-card">
        <!-- image -->
        <a [routerLink]="['/bike', bike.id]" class="bike-image-container">
          <img [src]="bike.image" class="bike-image" />
          <div class="sale-badge" *ngIf="bike?.oldPrice">
            <span class="sale-text"> sale </span>
          </div>
          <button
            class="wishlist-button"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToWishlist(bike)
            "
            *ngIf="!ifInWishlist(bike)"
          >
            <img [src]="svg.adToWl" alt="right arrow" />
          </button>
          <button
            class="wishlist-button"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToWishlist(bike)
            "
            *ngIf="ifInWishlist(bike)"
          >
            <img [src]="svg.addedToWLHeart" alt="right arrow" />
          </button>
          <button
            class="cart-button"
            (click)="
              $event.stopPropagation(); $event.preventDefault(); addToCart(bike)
            "
            *ngIf="!ifInCart(bike)"
          >
            <img [src]="svg.bag" alt="right arrow" />
          </button>
          <button
            class="cart-button"
            (click)="
              $event.stopPropagation(); $event.preventDefault(); addToCart(bike)
            "
            *ngIf="ifInCart(bike)"
          >
            <img [src]="svg.addedToCart" alt="right arrow" />
          </button>
        </a>

        <!-- content -->
        <div class="bike-content">
          <ul class="rating-list">
            <li *ngFor="let item of [1, 2, 3, 4, 5]" class="rating-item">
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_3517_673)">
                  <path
                    d="M6 1L7.545 4.13L11 4.635L8.5 7.07L9.09 10.51L6 8.885L2.91 10.51L3.5 7.07L1 4.635L4.455 4.13L6 1Z"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    [ngStyle]="{
                      fill: bike.rating >= item ? '#E5C44E' : 'transparent',
                      stroke: bike.rating >= item ? '#E5C44E' : '#E5C44E'
                    }"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_3517_673">
                    <rect width="12" height="12" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </li>
          </ul>

          <!-- name -->
          <span class="bike-name number-of-lines-1">
            {{ bike.name }}
          </span>
          <!-- description -->
          <div class="bike-price-container">
            <span *ngIf="bike?.oldPrice" class="old-price">
              ${{ bike?.oldPrice }}
            </span>
            <span
              class="current-price"
              [ngStyle]="
                bike?.oldPrice
                  ? {color: 'var(--main-orange)'}
                  : {color: 'var(--main-color)'}
              "
            >
              ${{ bike.price }}
            </span>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
