<section style="margin-bottom: 30px">
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
    "
  >
    <h3>Best sellers</h3>
    <a [routerLink]="['/menu']">
      <img [src]="svg.viewAll" alt="line" />
    </a>
  </div>
  <swiper-container slides-per-view="auto" space-between="14">
    <!-- item -->
    <swiper-slide
      class="swiper-slide"
      style="width: auto"
      *ngFor="let bike of bicycles"
    >
      <div style="overflow: hidden; max-width: 200px; width: 100%">
        <!-- image -->
        <a
          [routerLink]="['/bike', bike.id]"
          style="
            background-color: var(--white-color);
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 6px;
            display: flex;
          "
        >
          <img
            [src]="bike.image"
            style="
              width: 100%;
              height: auto;
              margin-bottom: 0px;
              border-radius: 12px;
            "
          />
          <div
            style="
              position: absolute;
              top: 10px;
              left: 10px;
              background-color: #66a97d;
              border-radius: 6px;
              height: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-left: 6px;
              padding-right: 6px;
            "
            *ngIf="bike?.oldPrice"
          >
            <span
              style="
                font-size: 8px;
                text-transform: uppercase;
                font-family: var(--mulish);
                font-weight: 700;
                color: var(--white-color);
                line-height: 1;
              "
            >
              sale
            </span>
          </div>
          <button
            style="padding: 10px; position: absolute; right: 0; top: 0"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToWishlist(bike)
            "
            *ngIf="!ifInWishlist(bike)"
          >
            <img [src]="svg.adToWl" alt="right arrow" />
          </button>
          <button
            style="padding: 10px; position: absolute; right: 0; top: 0"
            (click)="
              $event.stopPropagation();
              $event.preventDefault();
              addToWishlist(bike)
            "
            *ngIf="ifInWishlist(bike)"
          >
            <img [src]="svg.addedToWLHeart" alt="right arrow" />
          </button>
          <button
            style="padding: 10px; position: absolute; right: 0; top: 40px"
            (click)="
              $event.stopPropagation(); $event.preventDefault(); addToCart(bike)
            "
            *ngIf="!ifInCart(bike)"
          >
            <img [src]="svg.bag" alt="right arrow" />
          </button>
          <button
            style="padding: 10px; position: absolute; right: 0; top: 40px"
            (click)="
              $event.stopPropagation(); $event.preventDefault(); addToCart(bike)
            "
            *ngIf="ifInCart(bike)"
          >
            <img [src]="svg.addedToCart" alt="right arrow" />
          </button>
        </a>

        <!-- content -->
        <div style="padding-bottom: 14px">
          <ul
            style="
              display: flex;
              list-style: none;
              padding: 0;
              margin-bottom: 7px;
            "
          >
            <li *ngFor="let item of [1, 2, 3, 4, 5]" style="margin-right: 4px">
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_3517_673)">
                  <path
                    d="M6 1L7.545 4.13L11 4.635L8.5 7.07L9.09 10.51L6 8.885L2.91 10.51L3.5 7.07L1 4.635L4.455 4.13L6 1Z"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    [ngStyle]="{
                      fill: bike.rating >= item ? '#E5C44E' : 'transparent',
                      stroke: bike.rating >= item ? '#E5C44E' : '#E5C44E'
                    }"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_3517_673">
                    <rect width="12" height="12" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </li>
          </ul>

          <!-- name -->
          <span class="t14 number-of-lines-1" style="margin-bottom: 3px">
            {{ bike.name }}
          </span>
          <!-- description -->
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 8px;
            "
          >
            <span
              *ngIf="bike?.oldPrice"
              style="
                color: var(--text-color);
                font-weight: 500;
                font-size: 12px;
                font-family: var(--mulish);
                text-decoration: line-through;
                text-decoration-color: var(--text-color);
              "
            >
              ${{ bike?.oldPrice }}
            </span>
            <span
              class="t14"
              style="color: var(--main-color); font-weight: 600"
              [ngStyle]="
                bike?.oldPrice
                  ? {color: 'var(--main-orange)'}
                  : {color: 'var(--main-color)'}
              "
            >
              ${{ bike.price }}
            </span>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
